/* Tipografía */
@font-face {
  font-family: "arya";
  src: url("../assets/fonts/arya.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "arya-bold";
  src: url("../assets/fonts/aryabold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

/****************************************
*    Variables
*****************************************/
:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #0366ee;
  --link: #0000ee;
  --hover: #551a8b;
  --secondary: #c4c4c4;
  --font-family: "arya", sans-serif;
  --font-family-bold: "arya-bold", sans-serif;
}

/****************************************
*    Base - Elements
*****************************************/
html {
  height: 100%;
}

body {
  color: var(--blue);
  background: var(--white);
  font-size: 100%;
  font-size: calc(16px + (20 - 16) * ((100vw - 720px) / (1400 - 720)));
  font-family: var(--font-family);
}

a {
  color: rgb(10, 66, 31);
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  opacity: 0.8;
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
}

[hidden] {
  display: none;
}

img {
  width: 100%;
  display: block;
}

/*
a {
  position: relative;
  text-decoration: none;
  font-size: 1.3em;
  color: var(--black);
  transition: all 0.4s ease;
}
a::before {
  content: "";
  position: absolute;
  height: 3px;
  right: 0px;
  bottom: -3px;
  left: 0px;
  background-color: var(--link);
}
a:hover {
  color: var(--gradient);
}
a:hover::before {
  background: linear-gradient(to right, var(--link) 40%, var(--gradient) 75%);
}
*/

/****************************************
*    Components - Common
*****************************************/
.container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 0 auto;
}

.home {
  background: url(../assets/images/bg-home.jpg);
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}
/*
.proyectos {
  background: url(../assets/images/bg-home.jpg);
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}
*/
.header {
  display: flex;
  justify-content: space-between;
}

.logo img {
  padding: 2em;
}

/* Navegacion */
.menu {
  position: relative;
  display: flex;
  padding: 1em;
}

.menu li {
  padding-left: 1em;
}

.submenu {
  position: absolute;
  transform: translate(0, 25px);
}

/* Proyectos */
.lista-proyectos {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin: 0 auto;
}

.lista-proyectos ul {
  width: 100%;
  font-size: 32px;
  line-height: 1.5;
}

@media screen and (min-width: 40em) {
  .lista-proyectos {
    width: min(1400px, 95vw);
  }

  .lista-proyectos ul {
    padding-left: 32px;
    font-size: 54px;
  }
}

.display-image {
  display: block;
  width: 100%;
}

/*
@media screen and (min-width: 60em) {
    Móvil 960px 
  .lista-proyectos ul {
    font-size: 64px;
  }
}
*/
/*
.imagen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.imagen-proyecto {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}
*/

/* Proyecto & About layout */
.proyecto,
.about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  max-width: 90vw;
  margin: 0 auto;
}

.info-proyecto h2 {
  font-size: 1.5em;
}
.info-proyecto p {
  /* line-height: 1.9; */
}

.imagenes-proyecto img {
  margin: 0 auto;
  margin-top: 1em;
}

@media screen and (min-width: 60em) {
  .proyecto,
  .about {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em;
    max-width: 90vw;
    margin: 0 auto;
  }

  .info-proyecto h2 {
    font-size: 1.5em;
  }
  .info-proyecto p {
    /* line-height: 1.9; */
  }

  .imagenes-proyecto img {
    margin: 0 auto;
    margin-top: 1em;
  }
}

/****************************************
*    Helpers
*****************************************/
.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ayuda visual temporal */
.outline {
  border: 2px dotted blue;
}
